@font-face {
  font-weight: normal;
  font-family: 'HelveticaNeueLTStd-Roman';
  src: url('../fonts/363123_0_0.eot');
  src: url('../fonts/363123_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/363123_0_0.woff2') format('woff2'), url('../fonts/363123_0_0.woff') format('woff'), url('../fonts/363123_0_0.ttf') format('truetype'), url('../fonts/363123_0_0.svg#wf') format('svg');
}

@font-face {
  font-weight: normal;
  font-family: 'HelveticaNeueLTStd-Md';
  src: url('../fonts/363123_1_0.eot');
  src: url('../fonts/363123_1_0.eot?#iefix') format('embedded-opentype'), url('../fonts/363123_1_0.woff2') format('woff2'), url('../fonts/363123_1_0.woff') format('woff'), url('../fonts/363123_1_0.ttf') format('truetype'), url('../fonts/363123_1_0.svg#wf') format('svg');
}

@font-face {
  font-weight: normal;
  font-family: 'DINCondensed-Regular';
  src: url('../fonts/363123_2_0.eot');
  src: url('../fonts/363123_2_0.eot?#iefix') format('embedded-opentype'), url('../fonts/363123_2_0.woff2') format('woff2'), url('../fonts/363123_2_0.woff') format('woff'), url('../fonts/363123_2_0.ttf') format('truetype'), url('../fonts/363123_2_0.svg#wf') format('svg');
}
 
