<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="wrapper">
        <header>
            <a href="https://loopring.org"><img src="raw.githubusercontent.com/dong77/minimal/master/assets/img/logo.svg" alt="Logo" /></a>
            <h1 class="title"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
            <p>{{ site.description | default: site.github.project_tagline }}</p>
            <ul class="downloads">
                <li><a target="_blank" href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
                <li><a target="_blank" href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
            </ul>
            <ul>
                <li><a target="_blank" href="https://loopring.org/developers.html">Developer Portal</a></li>
                <li><a target="_blank" href="https://github.com/Loopring/whitepaper/raw/master/en_whitepaper.pdf">Whitepaper</a></li>
                <li><a target="_blank" href="https://coinmarketcap.com/currencies/loopring/#markets">Buy LRC</a></li>
                <li><a target="_blank" href="https://twitter.com/loopringorg">Twitter</a></li>
                <li><a target="_blank" href="https://www.reddit.com/r/loopringorg">Reddit</a></li>
                <li><a target="_blank" href="https://medium.com/loopring-protocol">Medium</a></li>
                <li><a target="_blank" href="https://t.me/loopring_en">Telegram</a></li>
                <li><a target="_blank" href="mailto:foundation@loopring.org">Email</a></li>
                <li><a target="_blank" href="https://loopr.io">Loopr Wallex</a></li>
                <li><a target="_blank" href="https://loopring.io">Circulr DEX</a></li>
            </ul>
        </header>
        <section>
            {{ content }}
        </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>
</html>
